@import 'color-palette';

$primary: "blue-grey" !default;
$accent: "red" !default;
$warn: "red" !default;
$background: "blue-grey" !default;
$link: "light-blue" !default;

$dark: true !default;
$default-color: '900' !default;

$foreground: "foreground-light" !default;
$foreground-shadow: "blue-grey" !default;

$base-background-color: map-get($color-blue-grey, '900') !default;
$base-color: rgba(255, 255, 255, 1) !default;

@import 'ember-paper';

body{
  background:black;

  >.ember-view
  {
    height:100%;
    >section{
      height:100%;
    }
  }
}

md-sidenav
{
  background:#607d8b;
  //border-right:solid 1px #0D3349;
}

video{
  width:100%;
  height:100%;
}


.backdrop
{
  display:flex;
  flex:1;
  flex-flow: row;
  background-size:cover;
  background-position: center center;
}

.semi-transparent
{
  background-color:  rgba(38, 49, 55, .7) !important;
}

md-content{
  flex:1;
}

video{
  background:black;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
}

.controls {
  display:flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  flex-flow: column;
  .tracker {
    margin:10px;
    flex:1;
    background: map-get($color-blue-grey, '400');
    cursor: pointer;
    height: 10px;
    position: relative;
    .buffer {
      position: absolute;
      top: 0px;
      bottom: 0px;
      background:rgba(0,0,0,.3);
    }

    .progress {
      background: map-get($color-red, '400');
      top: -2px;
      bottom: -2px;
      position: absolute;
      > div {
        position: absolute;
        right: -1px;
        top: -3px;
        bottom: -3px;
        background: inherit;
        width: 2px;
      }
    }
  }
}