<main>
    <div class="container">
        {{#md-card id="basic-card"}}
            {{#md-card-content}}
                This will be the landingpage, enabling you to continue watching where you left of... some time in the future...
            {{/md-card-content}}
        {{/md-card}}
    </div>
</main>