
{{#paper-toolbar}}
    <div class="md-toolbar-tools">
        {{#paper-sidenav-toggle as |toggle|}}
            {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
        {{/paper-sidenav-toggle}}
        <span class="md-breadcrumb-page">What to watch?</span>
    </div>
{{/paper-toolbar}}


{{#paper-content class="md-padding"}}
    This will be the landingpage, enabling you to continue watching where you left of... some time in the future...
{{/paper-content}}