.movie-detail-backdrop {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-size:cover;
    background-position: center center;
    //opacity: .3;
    z-index:-1;
    $blur:10px;
    /*-webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
    filter: blur($blur);*/
}

#play{
    right: 50px;
    position: absolute;
    top: -30px;
}

.detail {
    .poster {
        background-size: contain !important;
        display: inline-block;
        vertical-align: top;
        width:300px;
        height:450px;
        position:absolute;
        left:50px;
        bottom:50px;
    }
    h1{
        margin-top:0px;
    }

    .description {
        vertical-align: top;
        margin-top: 0;

        .header i {
            font-size: 8px;
            vertical-align: 1px;
        }
    }
}
.container.detail
{
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    width:auto;
    padding:50px;
    padding-left:400px;
    box-sizing: content-box;
    background:transparentize($primary-color-dark, .2);
}