{{#if subtitles}}
    {{#md-fixed-btns
        btnIcon="mdi-av-closed-caption"
        action="firstAction"
        actionArgs="0"}}
        {{#md-collection content=subtitles as |subtitle|}}
            <a href="javascript:void(0)" class="collection-item"  {{action 'subClicked' subtitle.value}}>
                {{subtitle.label}}
            </a>
        {{/md-collection}}
    {{/md-fixed-btns}}
{{/if}}